<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="slider.css">
        <link rel="stylesheet" href="about.css">
        <title>FK reviews</title>
        <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script defer type="text/javascript" src="header_footer.js"></script>
        <script>
          class Restraunt {
                constructor(name, rating, link, review) {
                    this.name = name
                    this.rating = rating
                    this.link = link
                    this.review = review
                }
            }

          let rest = [
                new Restraunt("KFC", "3.5", "https://www.kfc.com/", "review"),
                new Restraunt("Fiya Chicken", "4.4", "https://www.fiyachicken.com/", "review"),
                new Restraunt("BISQ", "3.9", "https://www.timeoutmarket.com/boston/eat-and-drink/bisq/", "review"),
                new Restraunt("Raising Cane's", "4.2", "https://www.raisingcanes.com/", "dfdfdf")
            ]

            
         window.addEventListener("DOMContentLoaded", e => {    
            loadPage()
            
            let initiation = () => {
                let x = localStorage.getItem("darkMode") 
                if(x == "dark"){
                    intoDarkMode() 
                    document.getElementById("darkmode").checked = "true"
                } else {
                        outOfDarkMode()
                }
            }

            initiation()

            const colorScheme = function() {
                const currentMode = localStorage.getItem("darkMode")
                console.log(currentMode)
                if(currentMode != "light"){
                    outOfDarkMode()
                    localStorage.setItem("darkMode", "light")
                } else {
                    intoDarkMode()
                    localStorage.setItem("darkMode", "dark")
                }
            }

            document.getElementById("darkmode").addEventListener("click", e => colorScheme())

            function loadPage() {
                axios.get('http://localhost:8001/api/reviews')
                .then(response =>{
                    console.log("response", response.data);
                    const currentMode = localStorage.getItem("darkMode") 
                    let backgroundClass;
                    if(currentMode == "dark") backgroundClass = "backgroundDark selectionDark"
                    else backgroundClass = "backgroundLight selectionLight"
                    let div = ` <div class="row justify-content-center m-5">`
                    response.data.forEach(e => {
                        let name = e.name
                        let rating = e.rating
                        let link = e.link
                        let para = new URLSearchParams();
                        para.append("restraunt", name);
                        div+= ` <a class="m-2 align-items-center justify-content-center" href="info_page.html?${para.toString()}">
                                <div id="review" class="${backgroundClass} m-2 align-items-center justify-content-center"> 
                                        <h2 id="name" class="p-2 text-center">${name}</h2>
                                        <h3 id="rating" class="text-center">${rating}</h3>
                                </div>
                                </a>`
                        })
                    div += `<a class="m-2 align-items-center justify-content-center" href="addreview.html">
                                <div id="review" class="${backgroundClass} m-2 align-items-center justify-content-center"> 
                                        <h2 class="text-center addText"> Add review </h2>
                                </div>
                                </a>
                    </div> `
                    document.getElementById("work").innerHTML = div
                }).catch(err =>
                    console.log(err)
                )
            };
    
               document.getElementById("about").addEventListener("mouseover", e => {
                    document.getElementById("work").classList.replace("show", "hidden")
                    document.getElementById("popup").classList.replace("hidden", "mainBody")
                    document.getElementById("aboutSection").classList.replace("hidden", "show")
                })
                
                document.getElementById("about").addEventListener("mouseleave", e => {
                    document.getElementById("work").classList.replace("hidden", "show")
                    document.getElementById("popup").classList.replace("mainBody", "hidden")
                    document.getElementById("aboutSection").classList.replace("show", "hidden")

                })   

                document.getElementById("contact").addEventListener("mouseover", e => {
                    document.getElementById("work").classList.replace("show", "hidden")
                    document.getElementById("popup").classList.replace("hidden", "mainBody")
                    document.getElementById("contactSection").classList.replace("hidden", "show")

                })

                document.getElementById("contact").addEventListener("mouseleave", e => {
                    document.getElementById("work").classList.replace("hidden", "show")
                    document.getElementById("popup").classList.replace("mainBody", "hidden")
                    document.getElementById("contactSection").classList.replace("show", "hidden")

                })            


        })
        </script>
    </head>
    


    
    <header id="header" class="d-flex justify-content-between p-2">
        <div class="container-fluid">
            <div class="row m-0" id="holder">
                <a href="landingPage.html" id="home" class="light d-flex align-items-center justify-content-center">
                    <h2>Fried Chicken Reviews</h2>
                </a>
                <a id="restraunts"  href="listings.html" class="light d-flex align-items-center justify-content-center ml-auto">
                    <h4>Restaurants</h4>
                </a>
                <div class="text-center darkmode">
                    <label class="switch">
                        <input id="darkmode" type="checkbox">
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>
        </div>
    </header>

    <body>
        <div id="title" class="title container d-flex justify-content-center align-items-center" >
            <section class="show container-fluid" id="work">
                    
            </section>
            <div id="popup" class="hidden backgroundLight text-center">
                <section id="aboutSection" class="hidden text-center">
                    <h2>About Me</h2>
                    <p>
                        I am Sarsen Whatmore, as senior at Boston University 
                        majoring in computer science.  
                        
                        Living in boston during 
                        my time at school, I have loved exploring the city and the
                        all it has to offer. 
                        And one of my favorite things I discovered 
                        was all the amazing fried chicken restraunts around. And from 
                        that I wanted to share my favorite places with people so I made 
                        this site. 
                    </p>
                </section>
                <section id="contactSection" class="hidden text-center">
                   <h2>Contact Info</h2>
                    <p>Email:</p>
                    <p>Phone Number:</p>  
                </section>
            </div>  
        </div>
    </body>

    <footer id="footer" class="container-fluid">
        <div class="row d-flex justify-content-around align-items-center p-2">
            <h6 id="about" class="text-center light">About Us</h6> 
            <h6 id="contact" class="text-center light" >Contact Us</h6> 
        </div>
        <div class="row d-flex justify-content-center align-items-center">
                <h6 class="text-center light">Copyright &copy;</h6>
        </div>
    </footer>

</html>